{
"mailer": {
"admin_gui": "http://{{ inventory_hostname }}:8080/",
"mail_from": "{{ item.mailfrom }}",
"mail_to": "{{ item.mailto }}",
"smtp_address": "localhost",
"smtp_port": "25",
"smtp_domain": "localhost"
}
}
